.container {
    position: relative;
    width: 224px;
    background-color: var(--whiteColor);
    box-shadow: 0 2px 8px 1px var(--borderColor);
    border-radius: 4px;
}
.back-btn {
    position: absolute;
    left: 0;
    width: 46px;
    height: 46px;
    color: var(--textColor);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.title {
    width: 100%;
    height: 46px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blackColor);
    line-height: 46px;
}
.list {
    padding: 4px;
    gap: 4px;
    width: 100%;
    list-style: none;
    max-height: min((100vh - 100px) - 60px, 734px);
    overflow-y: overlay;
}

.content {
    margin-left: 8px;
}
