.wrapper {
    padding-top: 8px;
    width: 360px;
    max-height: min((100vh - 100px) - 60px, 734px);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 2px 8px 1px var(--borderColor);
    overflow: hidden auto;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--textSecondaryColor);
    background-color: var(--whiteColor);
}
.result {
    display: block;
    padding: 9px 16px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--blackColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .icon {
        font-weight: 500;
        padding-right: 8px;
    }
    &:hover {
        background-color: var(--bg-lightColor);
    }
}
.subtitle {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #a7a7ab;
}
.link-to-search {
    display: block;
    width: 100%;
    padding: 15px 16px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blackColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
        background-color: var(--bg-lightColor);
    }
}
