.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 46px;
    font-size: 1.6rem;
    font-weight: 400;

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        bottom: 9px;
        right: 52px;
        width: 1px;
        background-color: var(--borderColor);
    }
}
.search-result {
    width: 360px;
}
.search-box {
    padding: 12px 16px;
    min-width: 309px;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--textColor);
    background-color: var(--bg-lightColor);
    border-bottom-left-radius: 46px;
    border-top-left-radius: 46px;
    border: 1px solid transparent;
    outline: none;
    &:focus {
        border-color: var(--borderColor) transparent var(--borderColor) var(--borderColor);
    }
    &:focus ~ .search-btn {
        border-color: var(--borderColor) var(--borderColor) var(--borderColor) transparent;
    }
}
.search-btn {
    padding: 10px 16px 12px 10px;
    width: 52px;
    height: 100%;
    color: var(--textSecondaryColor);
    background-color: var(--bg-lightColor);
    border-bottom-right-radius: 46px;
    border-top-right-radius: 46px;
    border: 1px solid transparent;
    outline: none;

    &:hover {
        background-color: #eaeaeb;
    }
}

.clear,
.loading {
    position: absolute;
    right: 60px;
    font-size: 1.6rem;
    color: var(--textSecondaryColor);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.loading {
    display: none;
    animation: rotating linear 1s infinite;
    transition: ease-in-out 0.3s;
}

.wrapper {
    padding-top: 8px;
    width: 360px;
    max-height: min((100vh - 100px) - 60px, 734px);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 2px 8px 1px var(--borderColor);
    overflow: hidden auto;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--textSecondaryColor);
    background-color: var(--whiteColor);
}
.result {
    display: block;
    padding: 9px 16px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--blackColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .icon {
        color: var(--blackColor);
        font-weight: 500;
        padding-right: 8px;
    }
    &:hover {
        background-color: var(--bg-lightColor);
    }
}
.subtitle {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #a7a7ab;
}
.link-to-search {
    display: block;
    width: 100%;
    padding: 15px 16px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blackColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
        background-color: var(--bg-lightColor);
    }
}
@keyframes rotating {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
