.wrapper {
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 1px var(--borderColor);
}
.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 100%;
    width: 100%;
    max-width: 1150px;
    background-color: var(--whiteColor);
    margin: 0 auto;
}
// Action
.action {
    display: flex;
    align-items: center;
}
.option {
    margin-left: 20px;
    width: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--textColor);
}
.avatar {
    position: relative;
    margin-left: 20px;
    width: 46px;
    height: 46px;
    background-color: var(--bg-lightColor);
    border: 1px solid var(--borderColor);
    border-radius: 50%;
    flex-shrink: 0;

    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        cursor: pointer;
    }
}
