@forward '/src/components/GlobalStyles/GlobalStyles.scss';

.wrapper {
    width: 100%;
}
.container {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1150px;
    background-color: var(--bg-light-color);
    margin: 0 auto;
}
.content {
    flex: 1;
    background-color: var(--primary-color);
}
